body{
  background: linear-gradient(320deg, #e9e9e9fd, #d3d3d3 85%);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  min-height: 100vh;
}

h1,h2,h3{
  font-family: Bebas Neue;
}

::-webkit-scrollbar {
  z-index: 9999999;
  width: 10px;
  height: 100%;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(72, 72, 72) 20% , #171717 120%);
}
::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff4;
}

#buttons_list{
  display: flex;
  flex-direction: row;
  list-style: none;
}

#buttons_list>li{
  margin-right: 15px;
}