{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Challenge</title>
  <link type="text/css" href='{% static "css/style.css" %}' rel="stylesheet"/>
</head>
<body>
  <h1 class="title">Challenge: Regresión Lineal Múltiple</h1>
  <form method="POST">
    {% csrf_token %}
    <select name="ruta">
        {% for archivo in archivos %}
        <option value="{{ archivo }}">{{ archivo }}</option>
        {% endfor %}
    </select>
    <button value="Seleccionar archivo">Seleccionar archivo</button>
  </form>
</body>
</html>
